.claude/*local.json
.idea/*
.vscode/
jenkins/library/.idea/*
*.iml
*_generated.yml
venv/*
jenkins/controllers/.idea/*
*token
.settings/
*.swp
*.kate-swp
clusters/app.ci/.actual_diff
*.pyc
hack/gcp-secret-manager/gcp-secrets-venv
CLAUDE.local.md
### macOS ###
.DS_Store
