[submodule "github.com-openshift-origin"]
	path = dist/src/github.com/openshift/origin
	url = https://github.com/openshift/origin.git
[submodule "github.com-openshift-image-registry"]
	path = dist/src/github.com/openshift/image-registry
	url = https://github.com/openshift/image-registry.git
[submodule "github.com-openshift-kubernetes-metrics-server"]
	path = dist/src/github.com/openshift/kubernetes-metrics-server
	url = https://github.com/openshift/kubernetes-metrics-server.git
[submodule "github.com-openshift-origin-aggregated-logging"]
	path = dist/src/github.com/openshift/origin-aggregated-logging
	url = https://github.com/openshift/origin-aggregated-logging.git
[submodule "github.com-openshift-origin-web-console-server"]
	path = dist/src/github.com/openshift/origin-web-console-server
	url = https://github.com/openshift/origin-web-console-server.git
