AuthorizedKeysFile /keys/authorized/authorized_keys
HostKey /keys/host/ssh_host_rsa_key
HostKey /keys/host/ssh_host_dsa_key
HostKey /keys/host/ssh_host_ecdsa_key
HostKey /keys/host/ssh_host_ed25519_key
PasswordAuthentication no
PermitTunnel yes
PidFile /tmp/ssh.pid
Port 2222
StrictModes no
GatewayPorts yes
