{
  "apiVersion": "integreatly.org/v1alpha1",
  "kind": "GrafanaDashboard",
  "metadata": {
    "name": "{{DASHBOARD_NAME}}",
    "namespace": "ci-grafana",
    "labels": {
      "app": "grafana"
    }
  },
  "spec": {
    "json": (importstr "{{IMPORT_STRING_PATH}}.json"),
  }
}
