{
  "apiVersion": "grafana.integreatly.org/v1beta1",
  "kind": "GrafanaDashboard",
  "metadata": {
    "name": "{{DASHBOARD_NAME}}",
    "namespace": "ci-grafana",
    "labels": {
      "app": "grafana"
    }
  },
  "spec": {
    "instanceSelector": {
      "matchLabels": {
        "dashboards": "grafana"
      }
    },
    "json": (importstr "{{IMPORT_STRING_PATH}}.json"),
  }
}
