tests:
- steps:
    cluster_profile: aws-quay-qe
    env:
      BASE_DOMAIN: quayqe.devcluster.openshift.com
      COMPUTE_NODE_TYPE: m5.4xlarge
    post:
    - ref: quay-gather-jaeger-traces
    - ref: quay-gather
    - ref: quay-deprovision
{%- if database_deprovision_ref %}
    - ref: "{{ database_deprovision_ref }}"
{%- endif %}
    - chain: ipi-aws-post
    workflow: ipi-aws
