tests:
- steps:
    cluster_profile: azure-quay-qe
    env:
      BASE_DOMAIN_RESOURCE_GROUP: os4-common
      COMPUTE_NODE_TYPE: Standard_D8as_v7
      CONTROL_PLANE_INSTANCE_TYPE: Standard_D8as_v7
      QUAY_STORAGE_PROVIDER: azure
    post:
    - ref: quay-gather-jaeger-traces
    - ref: quay-gather
    - ref: quay-deprovision
    - chain: ipi-azure-post
    workflow: ipi-azure
