base_images:
  dev-scripts:
    name: test
    namespace: ocp-kni
    tag: dev-scripts
tests:
- steps:
    cluster_profile: libvirt-s390x-vpn
    dependencies:
      OPENSHIFT_INSTALL_TARGET: release:s390x-latest
    env:
      QUAY_DEPLOY_MAILPIT: "false"
    workflow: quay-tests-libvirt-s390x
