base_images:
  dev-scripts:
    name: test
    namespace: ocp-kni
    tag: dev-scripts
tests:
- steps:
    cluster_profile: libvirt-ppc64le-s2s
    dependencies:
      OPENSHIFT_INSTALL_TARGET: release:ppc64le-latest
    env:
      QUAY_DEPLOY_MAILPIT: "false"
    workflow: quay-tests-libvirt-ppc64le
